* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-section {
    background-color: #fff;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: #2f2235;
}

.navbar-header {
    color: #fff;
    font-size: large;
}

.btns-grp {
    display: inline;
}

.nav-btn {
    padding: 10px 35px;
    border: 1px solid #b48291;
    cursor: pointer;
    margin-left: 5px;
}

.save-btn {
    background-color: #ff99c8;
    color: #fff;
}

.save-btn:hover {
    background-color: #fffce8;
    color: #2f2235;
}

.form-container {
    border-radius: 5px;
    max-width: 50%;
    margin: 8% 30%;
    height: 110vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-content {
    margin: 3% 15%;
}

.form-title {
    color: #fff;
    font-size: large;
    padding: 10px 5px;
    text-align: center;
    background-color: #2f2235;
}

.form-label {
    color: #000;
}

.checkbox-label {
    display: inline-block;
}

.Drop-down,
.input-textbox {
    border: 1px solid slategray;
    padding: 10px 15px;
    display: block;
    width: 100%;
    margin: 2% auto;
    border-radius: 5px;
}

.Drop-down:last-child {
    margin-bottom: 2%;
}

::placeholder {
    color: slategray;
}

.cancel-btn {
    background-color: #fff;
    color: #0C7EC3;
}

.cancel-btn:hover {
    background-color: #a5243d;
    color: #fff;
}

.input-checkbox {
    display: inline;
    margin: 3% 0%;
    margin-right: 0px;
}

.input-checkbox:checked {
    accent-color: #3e363f;
}

.required-star {
    color: red;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5% 5%;
    align-items: center;
    justify-content: center;
}

.card-container {
    background-color: #fff;
    flex-basis: 25%;
    margin: 1% 1%;
    color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f3fae1;
    height: 120px;
}

.avatar-img {
    border-radius: 50px;
}

.header-details {
    display: inline;
    margin: auto 10%;
}

.header-content {
    display: block;
    text-align: center;
    color: #000;
}

.expense-name {
    color: #000;
    text-align: center;
    font-weight: 100;
    margin: 10px auto;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 5%;
}

.emp-name {
    word-break: break-all;
    word-wrap: break-word;
}

.card-value {
    color: #000;
}

.card-key {
    color: #000;
}

.notes-key,
.notes-value {
    margin: 5% 5%;
    color: #000;
}

.data-body {
    background-color: #fff;
}

.edit-Data {
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 9;
}

.cancel-btn {
    position: relative;
    right: 5px;
    cursor: pointer;
}

.Id {
    display: none;
}

.editDataLabel,
.editTextBox {
    display: block;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
    margin-bottom: 5%;
}

.form-btn {
    padding: 10px 15px;
    border: none;
    font-weight: lighter;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-btn {
    background-color: #FFEB3B;
}

.delete-btn {
    background-color: red;
    color: #fff;
}

.update-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin: 2% auto;
}

.edit-Data {
    max-width: 500px;
    background-color: #b48291;
    margin: auto 25%;
}

.editDataLabel,
.editTextBox {
    width: 40%;
    margin: auto;
    line-height: 20px;
    border: none;
}

.close-btn {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #a5243d;
    color: #fff;
}

.alert-msg {
    display: none;
}

.show-alert {
    display: block;
    color: red;
    margin: 1% 0%;
}